<div class="container-fluid">

	<div class="row">

		<div class="col-md-8">

			<img ng-hide="contentData" src="img/loading.gif">
			<h1>{{contentData.name}}</h1>
			<p>{{ contentData.description == '' ? 'No Description' : contentData.description }}</p>
			<br>

			<!-- Content Panel -->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Discussions</h3>
				</div>

				<div ng-if="!discussions" class="panel-body">
					<img src="img/loading.gif">
				</div>

				<div ng-if="discussions" class="list-group">
					<a class="list-group-item" ng-repeat="discussion in discussions track by $index" href="#/discussion/1">
						{{ discussion.title }}
					</a>
				</div>
			</div>

		</div><!-- End Column -->

		<img ng-hide="contentData" src="img/loading.gif">

		<div ng-show="contentData" class="col-md-4">

			<h3>{{username}}'s References</h3>

			<div ng-if="contentData.owner && !editing" style="text-align:left;">
				<button class="btn btn-info" type="button" ng-click="startChanges();">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
					 Edit
				</button>
				<br><br>
			</div>

			<!-- Courses Panel -->
			<div class="panel panel-default" ng-if="contentData.courses.length > 0 || editing">
				<div class="panel-heading">
					Courses
				</div>

				<div class="panel-body" ng-if="editing">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="newCourse" placeholder="New course...">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button" ng-click="addItem(contentData.courses, newCourse)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert
							</button>
						</span>
					</div><!-- /input-group -->
				</div>

				<ul class="list-group">
				 	<li class="list-group-item" ng-repeat="course in contentData.courses track by $index">
				 		{{ course }}
				 		<button ng-if="editing" type="button" class="btn btn-xs btn-danger" 
				 			ng-click="removeItem(contentData.courses, $index)">
				 			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
				 	</li>
				</ul>
			</div><!-- End Panel -->


			<!-- Books Panel -->
			<div class="panel panel-default" ng-if="contentData.books.length > 0 || editing">
				<div class="panel-heading">
					Books
				</div>

				<div class="panel-body" ng-if="editing">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="newBook" placeholder="New book...">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button" ng-click="addItem(contentData.books, newBook)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert
							</button>
						</span>
					</div><!-- /input-group -->
				</div>

				<ul class="list-group">
					<li class="list-group-item" ng-repeat="book in contentData.books track by $index">
						{{ book }}
						<button ng-if="editing" type="button" class="btn btn-xs btn-danger" 
							ng-click="removeItem(contentData.books, $index)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
					</li>
				</ul>
				
			</div><!-- End Panel -->


			<!-- Sites Panel -->
			<div class="panel panel-default" ng-if="contentData.sites.length > 0 || editing">
				<div class="panel-heading">
					Sites
				</div>

				<div class="panel-body" ng-if="editing">
					<div class="input-group">
						<input type="text" class="form-control" ng-model="newSite" placeholder="New site...">
						<span class="input-group-btn">
							<button class="btn btn-info" type="button" ng-click="addItem(contentData.sites, newSite)">
								<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert
							</button>
						</span>
					</div><!-- /input-group -->
				</div>

				<ul class="list-group">
					<li class="list-group-item" ng-repeat="site in contentData.sites track by $index">
						<a href="{{ site }}" target="_blank">{{ site }}</a>
						<button ng-if="editing" type="button" class="btn btn-xs btn-danger" 
							ng-click="removeItem(contentData.sites, $index)">
							<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
					</li>
				</ul>
			</div><!-- End Panel -->

			<!-- Notes Panel -->
			<div class="panel panel-default" ng-if="contentData.notes || editing">
				<div class="panel-heading">
					Notes
				</div>
				<div class="panel-body">
					<textarea ng-if="editing" class="nvgtt-content-notes" placeholder="Write some notes..." 
						ng-model="contentData.notes"></textarea>
						<p ng-if="!editing">{{contentData.notes}}</p>
				</div>
			</div><!-- End notes Panel -->

			<div ng-if="editing">
				<button class="btn btn-success" type="button" ng-click="saveChanges()">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Changes
				</button>

				<button class="btn btn-danger" type="button" ng-click="cancelChanges()">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
				</button>
				<br><br>
			</div>

		</div><!-- End Column -->

	</div><!-- End Row -->

</div><!-- End Container -->
