<div class="container">

	<div class="row">
		<!--<div class="col-md-2 fixed" style="background-image: url('assets/img/paper.jpg');height:200px;">
		</div>-->

		<!--<div class="col-md-2">
			<div class="" style="position:fixed;">
                <div style="background-image: url('assets/img/paper.jpg');height:200px;width: 500px;"></div>
            </div>
		</div>-->

		<div class="col-md-8">

			<h1>{{contentData.name}}</h1>
			<p>{{ contentData.description == '' ? 'No Description' : contentData.description }}</p>
			<br>
			<img ng-hide="contentData" src="assets/img/loading.gif">

			<!-- Content Panel -->
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Discussions</h3>
				</div>

				<div ng-if="!discussions" class="panel-body">
					<img src="assets/img/loading.gif">
				</div>

				<div ng-if="discussions" class="list-group">
					<a class="list-group-item" ng-repeat="discussion in discussions track by $index" href="#/discussion/1">
						{{ discussion.title }}
					</a>
				</div>
			</div>

		</div><!-- End Column -->

		<div class="col-md-4">

			<div ng-show="baseBlocks == undefined || baseBlocks.length > 0"><!--Base Blocks List Div-->
				<h3>Base Blocks</h3>	
				<img ng-hide="baseBlocks" src="assets/img/loading.gif">
				<div ng-show="baseBlocks"><!--Base Blocks List Div-->
					<div class="panel panel-default">
  						<div class="list-group">
							<a class="list-group-item" ng-repeat="baseBlock in baseBlocks track by $index" 
								ng-href="#/content/{{baseBlock.localId}}">
								{{baseBlock.name}}
							</a>
  						</div>
					</div>
				</div><!--End Base Blocks ListDiv-->
			</div><!--End Base Blocks ListDiv-->			

			<h3>References
				<button ng-if="contentData.owner && !editing" class="btn btn-info" type="button" 
					ng-click="startChanges();">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					 Edit
				</button>
			</h3>

			<img ng-hide="contentData" src="assets/img/loading.gif">
			<div ng-show="contentData"><!--References Div-->

				<!-- Courses Panel -->
				<div class="panel panel-default" ng-if="contentData.courses.length > 0 || editing">
					<div class="panel-heading">
						Courses
					</div>

					<div class="panel-body" ng-if="editing">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="newCourse" placeholder="New course...">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button" 
									ng-click="addItem(contentData.courses, newCourse)">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert
								</button>
							</span>
						</div><!-- /input-group -->
					</div>

					<ul class="list-group">
					 	<li class="list-group-item" ng-repeat="course in contentData.courses track by $index">
					 		{{ course }}
					 		<button ng-if="editing" type="button" class="btn btn-xs btn-danger" 
					 			ng-click="removeItem(contentData.courses, $index)">
					 			<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
					 	</li>
					</ul>
				</div><!-- End Panel -->


				<!-- Books Panel -->
				<div class="panel panel-default" ng-if="contentData.books.length > 0 || editing">
					<div class="panel-heading">
						Books
					</div>

					<div class="panel-body" ng-if="editing">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="newBook" placeholder="New book...">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button" ng-click="addItem(contentData.books, newBook)">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert
								</button>
							</span>
						</div><!-- /input-group -->
					</div>

					<ul class="list-group">
						<li class="list-group-item" ng-repeat="book in contentData.books track by $index">
							{{ book }}
							<button ng-if="editing" type="button" class="btn btn-xs btn-danger" 
								ng-click="removeItem(contentData.books, $index)">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
						</li>
					</ul>
					
				</div><!-- End Panel -->


				<!-- Sites Panel -->
				<div class="panel panel-default" ng-if="contentData.sites.length > 0 || editing">
					<div class="panel-heading">
						Sites
					</div>

					<div class="panel-body" ng-if="editing">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="newSite" placeholder="New site...">
							<span class="input-group-btn">
								<button class="btn btn-info" type="button" ng-click="addItem(contentData.sites, newSite)">
									<span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Insert
								</button>
							</span>
						</div><!-- /input-group -->
					</div>

					<ul class="list-group">
						<li class="list-group-item" ng-repeat="site in contentData.sites track by $index">
							<a href="{{ site }}" target="_blank">{{ site }}</a>
							<button ng-if="editing" type="button" class="btn btn-xs btn-danger" 
								ng-click="removeItem(contentData.sites, $index)">
								<span class="glyphicon glyphicon-trash" aria-hidden="true"></span> Delete</button>
						</li>
					</ul>
				</div><!-- End Panel -->

				<!-- Notes Panel -->
				<div class="panel panel-default" ng-if="contentData.notes || editing">
					<div class="panel-heading">
						Notes
					</div>
					<div class="panel-body">
						<textarea ng-if="editing" class="nvgtt-content-notes" placeholder="Write some notes..." 
							ng-model="contentData.notes"></textarea>
							<p ng-if="!editing">{{contentData.notes}}</p>
					</div>
				</div><!-- End notes Panel -->

				<div ng-if="editing">
					<button class="btn btn-success" type="button" ng-click="saveChanges()">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save Changes
					</button>

					<button class="btn btn-danger" type="button" ng-click="cancelChanges()">
						<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
					</button>
					<br><br>
				</div>

			</div><!-- End Reference Div -->

		</div><!-- End Column -->

		<!--<div class="col-md-1"></div><!-- End Column -->

	</div><!-- End Row -->

</div><!-- End Container -->